//颜色
$white-text = #fff
$gray-text = #EAEAEA
$blue-text = #3376D4
$black-text = #72747A
$content-background = #F6F7F9

// 字体
$font-size-title = 2.1875rem
$font-size-copyright = 0.75rem
$font-size-card-title = 1.125rem
$font-size-sub-title = 1.75rem