//颜色
$white-text = #fff
$gray-text = #EAEAEA
$blue-text = #3376D4
$black-text = #72747A
$content-background = #F6F7F9
$footer-background = #353B40

// 字体
$font-size-title = 2.1875rem  //35px
$font-size-copyright = 0.75rem  //12px
$font-size-card-title = 1.25rem  //20px
$font-size-product-name = 1.75rem //28px 基本状态数据库
$font-size-sub-title = 2.25rem // 36px 了解我们的产品